/*
StyleSheet: styles.css
Author: Christine Swinkels
Date: 4/23/18


COLOR PALETTE:
    Licorice: #111111;
    Gunmetal gray: #2D3142;
    Black Coral: #4F5D75;
    Cornflower Blue: #92DCE5;
    Sky Blue: #B2FFFC;
    
*/

html,body {
    height 100%;
}

body {
    background-color: #111;
    font-family: "Lato", sans-serif;
    margin: 0;
}

main {
/*    margin: 0 auto;*/
    width: auto;
    background-color: whitesmoke;
    
}


section.color-border {
    padding-top: 2%;
}

img {
    width: 100%;
}

.color-border {
    background-color: #92DCE5;
    height: 5px;
}

section {
    background-color: whitesmoke;
}
section#about header {
    color: black;
    text-shadow: 1px 1px 2px #4F5D75;
}
section.social {
    background-color: #111111;
}
section#education header, section#contact header {
    padding-top: 15px;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
}


/*=== NAV BAR ===*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.burger-menu {
    position: fixed;
    top: 5px;
    left: 10px;
    padding: 0 5px 1px 5px ;
    background-color: #818181;
    border: 3px #8F8F8F inset;
    border-radius: 10px;  
}

.social {
    width: 100%;
    padding-left: 24px;
    margin-bottom: 0;
    display: block;
}

.social a {
    display: inline;
    padding: auto;
    padding: 8px;
}



/*=== Hero Image ===*/

.hero-image {
    background-image: url("../img/coffee.jpg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40%;
/*    position: relative;*/
    
}


.hero-text {
    text-align: center;
    position: relative;
    width: 45%;
    height: auto;
    
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border: .01px solid #000;
    border-radius: 10px;
/*    padding: 0 10px;*/
    background: rgba(210, 210, 224, 0.5);
}


/*=== Profile ===*/

section {
    text-align: center;
}

.headshot {
    width:75%;
}



#about {
    padding: 1% 5%;
}

/*=== Education ===*/
section#education {
/*    background-image: url("../img/learn.jpg");*/
    
    background:linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url("../img/learn.jpg");
    padding-bottom: 50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}

.cert {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 10px  0;
    
}
.cert img {
    width: 70%;
}
/*=== Projects ===*/

#projects {
    padding-bottom: 3%;
}


.filler {
    width: 50%;
    margin: 0 auto;
    border: .01px solid #000;
    padding: 3%;
    box-shadow: 1px 1px 2px #0a0a0a;
    max-width: 400px;
}
.filler img {
    width: 100%;
    max-width: 480px;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
/*  width: 33.3%;*/
  margin-bottom: 16px;
  padding: 0;
  margin: 1%;
}



/*== scroll for projects area==*/

section.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

section.scroll section.column {
    display: inline-block;
    background-color: white;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}

section.scroll a:hover {
    background-color: #777;
}
/*=== Hover on projects ===*/

.column {
    position: relative;
}
.card {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .card {
  opacity: 0.3;
}

.column:hover .middle {
  opacity: 1;
}

.text {
  background-color: #92DCE5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*=== Modal for projects ===*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: whitesmoke;
    margin: 1%; /* 15% from the top and centered */
    padding: 1%;
    padding-bottom: .5%;
    border: 1px solid #888;
    border-radius: 5px;
    width: auto; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ====Modal Speedbump====*/

div#speedbump {
  display: block;
  z-index: 9999;
  position: absolute;
  margin-left: 25%;
  width: 50%;
  height: auto;
  background: #eeeeee;
  border-radius: 5px;
  top: 5%;
}
#speedbump h4.modal-title {
  text-align: center;
  text-transform: uppercase;
  color: #004795;
  font-size:2.5em;	
}
.modal-body p {
  text-align:center;
  font-size: 1em;
}
button.btn-modal:hover {
  cursor: pointer;
}
button.btn-modal.btn-continue {
  background-color: #8bc63e;
  border: 0px;
  border-radius: 5px;
  margin: 1% 0;
  padding: .5rem 1rem;
  line-height: 1.25;
}
button.btn-modal.btn-close {
  background-color: inherit;
  border: 1px solid #030000;
  border-radius: 5px;
  color: #030000;
  font-weight: 400;
  padding: .5rem 1rem;
  line-height: 1.25;
}
.modal-header .close {
  font-size: 3.5em;
}

/*== Scrollbar ==*/

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4F5D75;
  width: 0%;
}

/*=== Form ===*/


section#contact {
    
    background:linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url("../img/dual-screen.jpg");
    padding-bottom: 50px;
/*    width: 100%;*/
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}

form input {
    background: none repeat scroll 0% 0% #F7F6F6;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    box-shadow: none;
}

form select {
    background: none repeat scroll 0% 0% #F7F6F6;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    box-shadow: none;
}

form textarea {
    background: none repeat scroll 0% 0% #F7F6F6;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    border: inset 2px #efeeee;
    height: 180px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    box-shadow: none;
}

button.submit {
    background: #4F5D75;
    border: medium none;
    color: #FFF;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    transition: background 0.3s ease-in;
    cursor: pointer;
    display: block;
    margin: 30px auto 0px;
    border-radius: 5px;
    border: .25px #2D3142 solid;
    box-shadow: 0 3px whitesmoke;
}

.submit:active {
  background-color: #92DCE5;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#returntop a {
    text-decoration: none;
    font-weight: 600;
    color: #92DCE5;
    font-size: 1.5em;
/*    text-shadow: 1px 1px 2px #0a0a0a;*/
    text-shadow:
        -.1px -.1px 0 #111,  
        .1px -.1px 0 #111,
        -.1px .1px 0 #111,
        -.1px .1px 0 #111,
         1px 1px 2px #0a0a0a;   
}

#returntop a:hover {
    color: #4F5D75;
    text-shadow:
        -.1px -.1px 0 #FFF,  
        .1px -.1px 0 #FFF,
        -.1px .1px 0 #FFF,
        -.1px .1px 0 #FFF,
         1px 1px 2px #0a0a0a; 
}


footer {
    height: 75px;
    background-color: #111;
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
}




/*=== MOBILE STYLE SECTION ===*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
/*    .hero-text {width: 50%;}*/
    
}
@media (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .hero-text {top: 15%;}
}

@media (max-width: 767px) { 
    .headshot {
        width:50%;
        align-content: left;
    }
    
    
}
  /* used for xs devices */

@media (min-width: 768px) and (max-width: 999px) {
    .headshot {
        width:50%;
        align-content: left;
    }
    
    #header {
        margin-left: 0;
        width: 10%;
        background-color: #111;
        height: 100%;
        display:inline-block;
        float: left;
        position: fixed;
        
    }
    .burger-menu {
        margin-left: 1%;
        margin-top: 1%;
    }
    #top {
        margin-left: auto;
        margin-right: 0;
        width:90%;
        float: right;
    }

    .hero-text {
        left: 55%;
    }
    
    #about aside {
        width: 35%;
        float: left;
    }
    #about article {
        width: 62%;
        padding-top: 10%;
        float: right;
    }

    #clearit {
        clear: both;
    }
    

   
}
  /* used for sm devices, tablets */

/*  @media (min-width: 992px) and (max-width: 1199px) {

}
  used for md devices, smaller desktops */

@media (min-width: 1000px) {
    .headshot {
        width:50%;
        padding-top: 3%;
        align-content: left;
    }
    

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: visible;
        transition: 0.5s;
        padding-top: 60px;
    }
    #burger-menu {
        visibility: hidden;
    }
    .burger-menu {
        background-color: #111;
        border: none;
    }
    
    .social {
        display: block;
    }
    .social a {
        display: inline;
    }
    #header {
        margin-left: 0;
        width: 20%;
        background-color: #111;
        height: 100%;
        display:inline-block;
        float: left;
        position: fixed;
        
    }

    #top {
        margin-left: auto;
        margin-right: 0;
        width:80%;
        float: right;
    }

    .hero-text {
        left: 50%;
    }
   

    #about aside {
        width: 35%;
        float: left;
    }
    #about article {
        width: 65%;
        padding-top: 10%;
        float: right;
    }
    
    #clearit {
        clear: both;
    }


}
  /* used for lg devices, larger desktops */






